# 유전자 데이터, 식이패턴 데이터 결합
- 유전자 데이터
    - https://github.com/AugumentedIntelligenceLab-GNU/genome-extraction
    - rows: 4658
- 식이패턴 데이터
    - https://github.com/SH22Hwang/KoGES_OP
    - rows: 4680

- 유전자 데이터와 식이패턴 데이터 어떻게 합치지?
    - inner_join?
    - left_join?

- merge how=left https://engineer-mole.tistory.com/208

In [149]:
import time

# 라이브러리 불러오기
import numpy as np
import pandas as pd

In [150]:
dietary_X = pd.read_csv("dataset/scaled/X_230818.csv", index_col=0)

In [151]:
gen_dict = {3335: "SNP_A-2181021",
            214246: "SNP_A-1809518",
            262783: "SNP_A-2130710",
            35799: "SNP_A-2263153",
            154529: "SNP_A-2310995",
            118171: "SNP_A-1922415",
            182907: "SNP_A-2266073",
            122732: "SNP_A-1984271",
            283204: "SNP_A-2218697",
            217552: "SNP_A-1850320",
            335062: "SNP_A-4262878",
            335032: "SNP_A-4299800",
            335031: "SNP_A-2242511"
            }

## 유전자 합치기

- 파일 이름 형식: result_SNP_A-1809518.csv
- gen_dict.keys()

In [167]:
test = dietary_X.copy()

# test[gen_dict[3335]] = pd.read_csv(f"./dataset/genome/result_{gen_dict[3335]}.csv", index_col=1, low_memory=False)['SNP']

In [153]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4680 entries, NIH2307713334 to NIH2307534318
Columns: 139 entries, AS1_SEX to AS1_BPSIT1DIA
dtypes: float64(139)
memory usage: 5.0+ MB

In [130]:
for v in gen_dict.values():
    temp = pd.read_csv(f"./dataset/genome/result_{v}.csv", index_col=1, low_memory=False).dropna()
    test[v] = temp["SNP"]

In [131]:
test

,AS1_SEX,AS1_HT,AS1_DM,AS1_AL,AS1_MI,AS1_TH,AS1_CH,AS1_CD,AS1_LP,AS1_AS,...,SNP_A-2263153,SNP_A-2310995,SNP_A-1922415,SNP_A-2266073,SNP_A-1984271,SNP_A-2218697,SNP_A-1850320,SNP_A-4262878,SNP_A-4299800,SNP_A-2242511
DIST_ID,,,,,,,,,,,,,,,,,,,,,
NIH2307713334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,A A,T C,T T,G G,G G,A A,G G,T G,G G,A A
NIH2307455306,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,A A,T C,T T,G G,G C,G A,A G,G G,G G,A A
NIH2307137554,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,A A,T C,C T,G G,G C,A A,A G,T G,G G,A A
NIH2307649667,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,A A,C C,T T,G G,C C,G A,G G,T G,G G,A A
NIH2307899915,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,A A,C C,T T,G G,C C,A A,G G,G G,G G,A A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NIH2307591031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,A A,C C,T T,G G,G C,A A,A G,T G,G G,A A
NIH2307808901,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,A A,C C,T T,G G,G C,A A,G G,G G,A G,G A
NIH2307930134,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,A A,T C,T T,A G,C C,G G,G G,T G,A G,G A
NIH2307023172,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NIH2307534318,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,A A,C C,T T,G G,G C,A A,G G,G G,G G,A A

In [132]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4680 entries, NIH2307713334 to NIH2307534318
Columns: 152 entries, AS1_SEX to SNP_A-2242511
dtypes: float64(139), object(13)
memory usage: 5.5+ MB

In [133]:
test.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Index: 4117 entries, NIH2307713334 to NIH2307534318
Columns: 152 entries, AS1_SEX to SNP_A-2242511
dtypes: float64(139), object(13)
memory usage: 4.8+ MB

In [100]:
df_all_gen = pd.DataFrame()

for v in gen_dict.values():
    temp = pd.read_csv(f"./dataset/genome/result_{v}.csv", index_col=1, low_memory=False).dropna()
    temp.rename(columns={"SNP": v}, inplace=True)
    df_all_gen = pd.concat([df_all_gen, temp[v]], axis=1)

In [102]:
df_all_gen.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4658 entries, NIH2307537078 to NIH2307194006
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SNP_A-2181021  4658 non-null   object
 1   SNP_A-1809518  4658 non-null   object
 2   SNP_A-2130710  4658 non-null   object
 3   SNP_A-2263153  4658 non-null   object
 4   SNP_A-2310995  4658 non-null   object
 5   SNP_A-1922415  4658 non-null   object
 6   SNP_A-2266073  4658 non-null   object
 7   SNP_A-1984271  4658 non-null   object
 8   SNP_A-2218697  4658 non-null   object
 9   SNP_A-1850320  4658 non-null   object
 10  SNP_A-4262878  4658 non-null   object
 11  SNP_A-4299800  4658 non-null   object
 12  SNP_A-2242511  4658 non-null   object
dtypes: object(13)
memory usage: 509.5+ KB

In [141]:
df_all_gen = pd.get_dummies(df_all_gen, columns=df_all_gen.columns, drop_first=True, dtype='float64') # one-hot-encoding

In [142]:
df_all_gen

,SNP_A-2181021_A A,SNP_A-2181021_A C,SNP_A-2181021_C C,SNP_A-1809518_A A,SNP_A-1809518_G A,SNP_A-1809518_G G,SNP_A-2130710_G G,SNP_A-2130710_G T,SNP_A-2130710_T T,SNP_A-2263153_C A,...,SNP_A-1850320_A G,SNP_A-1850320_G G,SNP_A-4262878_G G,SNP_A-4262878_T G,SNP_A-4262878_T T,SNP_A-4299800_A A,SNP_A-4299800_A G,SNP_A-4299800_G G,SNP_A-2242511_G A,SNP_A-2242511_G G
NIH2307537078,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
NIH2307151907,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
NIH2307876488,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
NIH2307009808,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
NIH2307798369,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NIH2307119229,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
NIH2307727030,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
NIH2307959786,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
NIH2307422716,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
NIH2307194006,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [ ]:
test

In [174]:
mergetest = pd.concat([test, df_all_gen], axis=1)

In [177]:
mergetest = mergetest.dropna()

In [178]:
dataset = pd.read_csv("dataset/Dataset_OP_230614_raw.csv", index_col=0, na_values=[77777, 99999, '#NULL!', ' '])

meno1 = dataset['AS1_PMYN_C'] == 1
meno2 = dataset['AS1_PMYN_C'] == 2

X_premeno_woman = mergetest.loc[meno1]
X_postmeno_woman = mergetest.loc[meno2]

C:\Users\sh22h\AppData\Local\Temp\ipykernel_15292\1688249498.py:1: DtypeWarning: Columns (7,9,156,299) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv("dataset/Dataset_OP_230614_raw.csv", index_col=0, na_values=[77777, 99999, '#NULL!', ' '])

In [179]:
X_premeno_woman.to_csv('./dataset/scaled/X_premeno_20230821.csv')
X_postmeno_woman.to_csv('./dataset/scaled/X_postmeno_20230821.csv')

In [200]:
y = pd.read_csv("dataset/scaled/y_230818.csv", index_col=0)

In [202]:
mergetest_idx = mergetest.index.to_numpy()
mergetest_idx
y = y.reindex(mergetest_idx)

In [203]:
y

               OP
DIST_ID
NIH2307713334   0
NIH2307455306   0
NIH2307137554   0
NIH2307649667   0
NIH2307899915   0
...            ..
NIH2307635277   0
NIH2307591031   1
NIH2307808901   1
NIH2307930134   1
NIH2307534318   0

[4117 rows x 1 columns]

In [204]:
y_premeno_woman = y.loc[meno1]
y_postmeno_woman = y.loc[meno2]
y_premeno_woman.to_csv('./dataset/scaled/y_premeno_20230614.csv')
y_postmeno_woman.to_csv('./dataset/scaled/y_postmeno_20230614.csv')

In [205]:
print(f"폐경 전 여성의 골다공증:\n {y_premeno_woman.value_counts()}"
      f"\n\n폐경 후 여성의 골다공증:\n {y_postmeno_woman.value_counts()}")

폐경 전 여성의 골다공증:
 OP
0     1465
1       61
Name: count, dtype: int64

폐경 후 여성의 골다공증:
 OP
0     1846
1      721
Name: count, dtype: int64